body {
  margin: 0cm;
  /*Personaliza el tipo de letra que se utiliza en los textos de la pagina web.*/
  font-family: "Oswald", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  /*Personaliza el tipo de letra que se utiliza en los titulos de la pagina web.*/
  font-family: "Playfair Display", serif;
}
/*Configuraciòn de la imagen en donde esta el nombre de la empresa.*/
.c {
  height: 400px;
  background-image: url(https://cdn.glitch.global/b7fc09d8-5cde-4d4c-a0ed-f7d57fcde712/20211123_103959.jpg?v=1650812669965);
  color: white;
  /*Configuración de la imagen en el espacio.*/
  background-size: cover;
  background-position: center;
  /*Configuración de cuan opaco quieres la imagen.*/
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.Datos {
  height: 200px;
  background-color: #d99058;
  color:#4B4847;
  /*Configuración de la imagen en el espacio.*/
  background-size: cover;
  background-position: center;
  /*Configuración de cuan opaco quieres la imagen.*/
  background-blend-mode: darken;
}
/*Configuración de espacio de la imagen de las tarjetas.*/
.c-small {
  height: 200px;
  background-blend-mode: normal;
}
.btn {
  color: white;
}
.card {
  /*Quita el borde de la card*/
  border: 0 !important;
  /*Pone un fondo en la card*/
  background-color: #e7b996;
}
/*Configuración de la altura de los titulos y el texto de las tarjetas.*/
.card-title {
  min-height: 3rem;
}
.card-text {
  min-height: 10rem;
}
.F {
  height: ;
}
.stripe-container {
  display: flex;
}
.stripe-container .card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}
.Product-stripe {
  overflow-x: scroll;
  padding-top: 0rem;
  padding-bottom: 1rem;
}
.responsive-iframe {
  position: relative;
  padding-top: 56.25%;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
