body {
  margin: 0cm;
  /*Personaliza el tipo de letra que se utiliza en los textos de la pagina web.*/
  font-family: "Oswald", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  /*Personaliza el tipo de letra que se utiliza en los titulos de la pagina web.*/
  font-family: "Playfair Display", serif;
}

/*Configuraciòn del boton*/
.navbar-nav .nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  color: white; /* Color inicial de los enlaces */
  transition: color 0.3s; /* Transición suave para el cambio de color */
}
.navbar-nav .nav-link:hover {
  color: black; /* Color de los enlaces al pasar el mouse */
}
.navbar-brand .brand-text {
  color: white; /* Color inicial del texto de la marca */
  transition: color 0.3s; /* Transición suave para el cambio de color */
}
.navbar-brand .brand-text:hover {
  color: black; /* Color del texto de la marca al pasar el mouse */
}
.login-btn {
  margin-left: 1rem;
}
.custom-btn {
  background: none;
  border: none;
  color: white; /* Color inicial del botón */
  transition: color 0.3s; /* Transición suave para el cambio de color */
}
.custom-btn:hover {
  color: black; /* Color del botón al pasar el mouse */
}
.custom-btn img {
  width: 50px;
  height: 50px;
}
.navbar-toggler {
  border: 2px solid white; /* Bordes blancos inicialmente */
  transition: border-color 0.3s; /* Transición suave para el cambio de color del borde */
}
.navbar-toggler:hover {
  border-color: black; /* Bordes negros al pasar el mouse */
}
.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  transition: background-image 0.3s;
}
.navbar-toggler:hover .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="black" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

/* Estilos adicionales */
.Datos {
  background-color: #63b665;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Asegura que cubra al menos la altura de la ventana gráfica */
  padding: 1rem 0; /* Añade padding para que el contenido no toque los bordes */
}

.container {
  flex: 1;
}

.row {
  flex: 1;
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre las columnas */
}

.col-12 {
  flex: 1;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}


/*Configuraciòn de la imagen en donde esta el nombre de la empresa.*/
.c {
  height: 400px;
  background-image: url(https://cdn.glitch.global/b7fc09d8-5cde-4d4c-a0ed-f7d57fcde712/20211123_103959.jpg?v=1650812669965);
  color: white;
  /*Configuración de la imagen en el espacio.*/
  background-size: cover;
  background-position: center;
  /*Configuración de cuan opaco quieres la imagen.*/
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.c1 {
  height: 400px;
  background-image: url(https://cdn.glitch.global/5654f98f-00cd-4cb1-b8b4-30d2602318de/abc36a8f-c5e9-423b-9965-2ec3c4eefec9.jpg?v=1657089548751);
  color: white;
  /*Configuración de la imagen en el espacio.*/
  background-size: cover;
  background-position: center;
  /*Configuración de cuan opaco quieres la imagen.*/
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.Datos {
  height: 200px;
  background-color: #d99058;
  color: #4b4847;
  /*Configuración de la imagen en el espacio.*/
  background-size: cover;
  background-position: center;
  /*Configuración de cuan opaco quieres la imagen.*/
  background-blend-mode: darken;
}
.Carrusel {
  /*Configuración de la altula y el ancho de forma relatva respecto a el carrusel*/
  height: 2 !important;
  width: auto !important;
  overflow: hidden;
  color: #4b4847;
  /*Configuración de la imagen en el espacio.*/
  background-size: cover;
  background-position: center;
  /*Configuración de cuan opaco quieres la imagen.*/
  background-blend-mode: darken;
}
/*Configuración de espacio de la imagen de las tarjetas.*/
.c-small {
  height: 200px;
  background-blend-mode: normal;
}
.btn {
  color: white;
}
.card {
  /*Quita el borde de la card*/
  border: 0 !important;
  /*Pone un fondo en la card*/
  background-color: #e7b996;
}
/*Configuración de la altura de los titulos y el texto de las tarjetas.*/
.card-title {
  min-height: 3rem;
}
.card-text {
  min-height: 10rem;
}
.stripe-container {
  display: flex;
}
.stripe-container .card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}
.Product-stripe {
  overflow-x: scroll;
  padding-top: 0rem;
  padding-bottom: 1rem;
}
.responsive-iframe {
  position: relative;
  padding-top: 56.25%;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
